<li id="micropost-<%= userapp.id %>">
  <span class="user"><%= link_to userapp.user.name, userapp.user %></span>
  <span class="content"><%= userapp.url %></span>
  <span class="content"><%= userapp.apikey %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(userapp.created_at) %> ago.
    <%= link_to 'delete', userapp, method: :delete,
                data: { confirm: 'You sure?' } %>
  </span>
</li>