<li id="micropost-<%= userapp.id %>">
  <strong><span class="content"><%= userapp.url %></span></strong>
  <span class="content"><%= userapp.apikey %></span>
  <span class="timestamp">
    Postades för <%= time_ago_in_words(userapp.created_at) %> sedan.
    <%= link_to 'delete', userapp, method: :delete,
                data: { confirm: 'Är du säker?' } %>
  </span>
</li>