<%	 if @user.errors.any? %>
  <div is="error_messages">
    <h2><%= pluralize(@user.errors.count, 'Error')%>! Det gick inte registrera en använadre!</h2>

    <ul>
      <%	 @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div id='login'>
  <h2><span class="frontawesome-lock"></span>Register</h2>

  <fielset>
    <%= form_for @user do |f| %>

        <p><%= f.label :name %></p>
        <p><%= f.text_field :name %></p>

        <p><%= f.label :email %></p>
        <p><%= f.email_field :email %></p>

        <p><%= f.label :password %></p>
        <p><%= f.password_field :password %></p>

        <p><%= f.label :password_confirmation %></p>
        <p><%= f.password_field :password_confirmation %></p>


        <p><%= f.submit 'Register' %></p>

    <% end %>
  </fielset>
</div>