<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.userapps.any? %>
        <h3><%= @user.name %> har <%= @user.userapps.count %> applikationer/nycklar registrerat</h3>
        <ol class="microposts">
          <%= render @userapps %>
        </ol>
        <%= will_paginate @userapps %>
    <% end %>
  </div>
</div>




